.right_box > div button:first-child:focus,
.right_box > div button:first-child{
    background-color: #BAC1FF !important;
    color:#3a35c9 !important;
    border-color: #BAC1FF !important;
    font-weight: bold;
    width:250px;
}

.right_box > div button:first-child:hover{
    background-color: #abb3f8 !important;
}

.right_box > div button:last-child:focus,
.right_box > div button:last-child{
    border-color: #3FDEA3 !important;
    color: #3FDEA3 !important;
    font-weight: bold;
    width:250px;
}

.right_box > div button:last-child:hover{
    background-color: #3fdea43d;
}

.hiringHd{
    color:#DAE2FD;
    text-align: center;
    font-weight: bold;
}

.hiringTxt{
    text-align: center;
    color:#C7C4D7;
    font-size: 1.1rem;
}

.cards_content:hover{
    transform: scale(1.02);
    border-color: #BAC1FF;
}
.cards_content{
    border-radius: 10px;
    border: 1px solid #efefef33;
    background-color:#182234 ;
    transition: transform .20s ease;
}

.user_icon{
    height:50px;
    width:50px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#293348;
    border: 1px solid #efefef33;
}

.userIcon{
    color:#abb3f8;
    font-size: 1.6rem;
}

.cards_content div > span{
    color: #c2c8da;font-weight: bold;
    font-size:1.4rem;
}

.cards_content div > p{
    color:#888a94;
    line-height:25px;
    font-size: 16px;
}

.tech_stack button:focus,
.tech_stack button:hover,
.tech_stack button{
    height: 30px;
    width: 100px;
    font-size:12px;
    border-radius: 100px;
    color: #fff;
    background-color: #2D3449 !important;
    border: 1px solid #efefef33;
}

.git_progress{
    border: 1px solid #efefef33;
    border-radius: 10px;
    background-color: #2D3449;
}

.git_progress p{
    font-size: 13px !important;
    margin-bottom: .5rem !important;
}

.progress_dot{
    height: 12px;
    width:12px;
    border-radius: 3px;
    background-color: #4EDEA3;
}

.progress_dot:nth-child(2){
    background-color: #47BC90;
}
.progress_dot:nth-child(3){
    background-color: #41997F;
}
.progress_dot:nth-child(4){
    background-color: #3A786C;
}
.progress_dot:nth-child(5){
    background-color: #34555B;
}
.progress_dot:nth-child(6){
    background-color: #304552;
}

.progress_container{
    height: 50px;
    width: 100%;
    background-color: #2D3449;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #efefef33;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding:2rem;
    width: 100%;
    background:linear-gradient(#060e2036, #060e20) ;
}

.overlay p{
    color: #6e769c;
}
.overlay h2{
    color: #BAC1FF;
}

.progress_bar{
    height:50px;
    width: 80%;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #33546B;
}

.progress_bar p{
    font-size: 13px !important;
}

.terminal_box{
    border: 1px solid #7e7d7d6e !important;
    color:#fff;
    padding: 3.5rem 3rem;
    background-color: #1E254C;
}

.terminal_box h2{
    color: #DAE2FD;
}

.terminal_box p{
    color: #BCC4D7;
    font-size: 1.1rem;
}

.security,
.thunderbolt{
    border: 1px solid #7e7d7d6e !important;
    background-color: #222A3D;
}

.securityIcon,
.thunderIcon{
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
    border-radius: 100px;
    color: #4EDEA3;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color:#263C47;
}

.thunderIcon{
    color:#4CD7E1 !important;
    background-color: #263B4F !important;
}

.thunderbolt p,
.security p{
    color:#BCC4D7;
}

.thunderbolt p:last-child,
.security p:last-child{
 font-size: 12px;
}

.futureHiring{
    padding: 8rem 0;
    background: #1B233A;
    background: radial-gradient(circle, rgba(27, 35, 58, 1) 0%, rgba(11, 19, 38, 1) 71%);
}

.content{
    padding: 0 10rem;
}

.content h1{
    color: #abb3f8;
    font-size: 3.2rem;
}

.content p{
    color: #888a94;
}

.join,
.join:hover,
.join:focus,
.specialist:focus,
.specialist:hover,
.specialist{
    font-weight: bold;
    color:#001452;
    font-size: 1.1rem;
    height: 65px;
    width: 230px;
    background-color: #abb3f8 !important;
}

.specialist:hover,
.specialist:focus,
.specialist{
    color: #abb3f8 !important;
    border: 1px solid #888a94 !important;
    background-color: #31394D !important;
}