.nav li a{
    color:#2D3449;
}

.title:hover,
.title{
    color:#BAC1FF;
}

.links:hover{
    color:#BAC1FF !important;
}

.links{
    color: #efefef;
    font-size: 1rem;
}

.links:focus,
.links:hover{
    color: #efefef;
}

.search{
    height: 45px;
    width: 100%;
    max-width:250px;
    border:1px solid #5e5e5e;
    background-color: #2D3449;
}

.search_box::placeholder{
    color: #efefef;
}

.search_box{
    width: 100%;
    outline: none;
    color:#efefef;
    font-size: 1rem;
}

.bell:hover,
.darkmode:hover{
    color: #BAC1FF;
}
.bell,
.darkmode{
    font-size: 1.5rem;
    color:#efefef;
    cursor: pointer;
}

.post_job:focus,
.post_job:hover,
.post_job{
    color:#3a35c9;
    font-weight: bold;
    border-color:#BAC1FF;
    background-color: #BAC1FF !important;
}

.barsIcon,
.xmark{
    display: none !important;
    cursor: pointer;
}

.xmark{
    position: absolute;
    right:-2rem;
}

@media screen and (max-width:992px) {
    
    .navbar ul{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 300px;
        transition: left .20s ease-in-out;
        display: block;
        background-color: #2D3449 !important;
    }
   
    .show{
        left:0 !important;
    }

    .barsIcon,
    .xmark{
        display: block !important;
    }

   
}